<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <title>Document</title>
</head>
<body>
   
    <a href="http://127.0.0.1:8000/create_new_appointment/">Fill the credentials to confirm appointment </a>
    <div class="divider"/>
    <br>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Virtual Agent"
  agent-id="98524669-9ff3-4751-96c3-34ea2d0d78bc"
  language-code="en"
></df-messenger>
</body>
</html>