
{% block content %}

<form method="POST"> {% csrf_token %}

    <input type="text" name="first_name" placeholder="Enter your first name">
    <div class="divider"/>
    <br>

    <input type="text" name="last_name" placeholder="Enter your last name">
    <div class="divider"/>
    <br>

    <input type="number" name="phone" placeholder="Enter your phone">
    <div class="divider"/>
    <br>

    <input type="text" name="email" placeholder="Enter your email">
    <div class="divider"/>
    <br>

    <input type="text" name="city" placeholder="Enter your city">
    <div class="divider"/>
    <br>

    <input type="text" name="state" placeholder="Enter your state">
    <div class="divider"/>
    <br>

    <input type="text" name="country" placeholder="Enter your country">
    <div class="divider"/>
    <br>

    <button type="submit">Save</button>
    <div class="divider"/>
    <br>

    <a href="http://127.0.0.1:8000/second_appointment/">Hello !!! Let's book appointment for future</a>
</form>

{% endblock %}  